<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="authpage">

  <div class="navbar">
    <div class="nav-left">
      <div class="logo">SMARTCOOK</div>
    </div>
  </div>

  <div class="login-container">
    <div class="login-home-link"><a href="{% url 'mainpage' %}">← Home</a></div>

    <div class="login-form-box">

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        {% if messages %}
          <div id="django-messages"
              data-messages="{% for message in messages %}{{ message|escapejs }}{% if not forloop.last %}||{% endif %}{% endfor %}">
          </div>
        {% else %}
          <div id="django-messages" data-messages=""></div>
        {% endif %}

        <div class="login-input-box">
          <img src="{% static 'images/login/people.png' %}" alt="user-icon" />
          <input type="text" name="userid" class="login-input" placeholder="ID" required>
        </div>

        <div class="login-input-box">
          <img src="{% static 'images/login/lock.png' %}" alt="lock-icon" />
          <input type="password" name="password" class="login-input" placeholder="Password" required>
        </div>

        <button type="submit" class="login-login-btn">로그인하기</button>
      </form>

      <div class="login-options">
        <label><input type="checkbox" class="login-input"> 아이디 저장</label>
        <div><a href="{% url 'signup' %}">회원가입</a></div>
      </div>

      <div class="login-social-login">
        <p>----------Or Sign in with----------</p>
        <div class="login-icons">
          <a href="https://www.facebook.com/login" target="_blank">
            <div class="login-icon fb"></div>
          </a>
          <a href="https://www.instagram.com/accounts/login/" target="_blank">
            <div class="login-icon ig"></div>
          </a>
          <a href="https://accounts.kakao.com/login" target="_blank">
            <div class="login-icon kt"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
