{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ recipe.title }} 레시피</title>
  <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body class="upload">
  <div class="main-navbar">
    <!-- 왼쪽 -->
    <div class="main-nav-left">
      <a href="{% url 'mainpage' %}" class="logo">SMARTCOOK</a>
    </div>
  
    <!-- 오른쪽 -->
    <div class="main-nav-right">
      <form method="POST" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
      </form>
    </div>
  </div>
  
  
  <div class="recipe-container">
    <div class="recipe-content">
      <!-- 왼쪽 박스 -->
      <div class="recipe-left-box">
        <h2>상세 레시피</h2>
        <div class="recipe-subheading"><strong>🥢 {{ recipe.title }} 레시피</strong></div>

        <p><strong>재료</strong></p>
        <ul>
          {% for ing in recipe.ingredients %}
            <li>{{ ing }}</li>
          {% endfor %}
        </ul>

        <p><strong>만드는 법</strong></p>
        <ol>
          {% for step in recipe.steps %}
            <li>{{ step }}</li>
          {% endfor %}
        </ol>
      </div>

      <!-- 오른쪽 박스 -->
      <div class="recipe-right-box">
        <h2>유튜브 영상 보러가기</h2>
        <div class="youtube-videos">
          {% for video in videos %}
            <div class="video-card">
              <a href="{{ video.url }}" target="_blank">
                <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
                <p>{{ video.title }}</p>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- 버튼 -->
  <div class="recipe-bottom-button">
    {% if mode == "detected" %}
      <button onclick="location.href='{% url 'search_recipes_by_detected' %}?sort=match'">
        다른 레시피 보러가기
      </button>
    {% else %}
      <button onclick="location.href='{% url 'food_upload' %}?q={{ query }}'">
        다른 레시피 보러가기
      </button>
    {% endif %}
  </div>

  
</html>
