{# templates/partials/navbar.html #}
<div class="main-navbar">
    <div class="main-nav-left">
      <a href="{% url 'mainpage' %}" class="main-logo" style="color: #76b5c5;">SMARTCOOK</a>
      <div class="main-nav-links">
        <a href="{% url 'food_upload' %}" class="main-active">Recipe</a>
        <a href="{% url 'upload' %}">Picture</a>
        <a href="{% url 'live_page' %}">Realtime</a>
        <a href="{% url 'mainpage' %}">Mypage</a>
      </div>
    </div>
    <div class="main-nav-right">
      {% if user.is_authenticated %}
        <a href="{% url 'mypage' %}" class="main-navbar-logout-btn">Mypage</a>
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="main-navbar-logout-btn">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="main-login-button">Login</a>
      {% endif %}
    </div>
  </div>
  